*{
    background-color: rgb(174, 223, 243);
    scroll-behavior: smooth;
}


body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
 nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  nav ul li {
    float: right;
    background-color: #333
  }
  
  nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #333
  }
  
  nav ul li a:hover {
    background-color: #111;
  }

  section {
    padding: 35px 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }


  .title {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}


.content {
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 10%
}

.homework {
    width: 250px;
    height: 200px;
    justify-content: space-between;
    opacity: 0.2;
    margin: 20px;

}

h3 {
    text-align: center;
    font-size: 18px;
}
.details {
    font-size: 14px;
    text-align: center;
    display: none;
}

.homework:hover{
    transform: scale(1.5);
    transition: .3s;
    margin: 80px;
    opacity: 1;
    display: block;
    }

.homework:hover + .details{
    display:block;
    width: 400px;
    text-align: center;
       }

.images {
        display: flex;
        justify-content: center;
        margin: 5px;
        background-image: url(https://www.itprotoday.com/sites/itprotoday.com/files/programming.jpg);
        }
        
.image-1{
        height: 600px;
        width: 600px;
        }
        
.image-2{
            display: none;
            height: 600px;
            width: 600px;
        }

.image-3 {
            display: none;
            height: 600px;
            width: 600px;
        }

ul.no-bullets {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

footer {
        font-size: 12px;
        text-align: right;
    }
        
    @media screen and (max-width: 1265px) {
        .image-1{
          display: none;
        }
    
        .image-2{
            display: block;
        }
      }
      
      
    @media screen and (max-width: 863px) {
        .image-2{
          display: none;
        }
    
        .image-3{
            display: block;
        }
      }